@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: .3s ease;
}

html {
  font-family: 'poppins', sans-serif;
  scrollbar-width: smooth;
}

body {
  background-color: #FDFCFD !important;
}